$(document).ready(function(){
  var rock = new Image();
  var paper = new Image();
  var scissor = new Image();
  var win = new Image();
  var lose = new Image();
  var playerName;
  var choices = ["rock", "paper", "scissor"];
  var compPick;
  var playerPick;
  var playerScore = 0;
  var comScore = 0;

  rock.src = "<%= asset_path('rps/rock.jpg') %>"
  paper.src = "<%= asset_path('rps/paper.jpg') %>"
  scissor.src = "<%= asset_path('rps/scissor.jpg') %>"
  win.src = "<%= asset_path('rps/win.gif') %>"
  lose.src = "<%= asset_path('rps/lose.gif') %>"

  var assignImage = function(image, divElement){
    if(image === "rock") {
      $(divElement).append("<img src='"+rock.src+"' width='250' height='250'>")
    } else if (image === "paper") {
      $(divElement).append("<img src='"+paper.src+"' width='250' height='250'>")
    } else {
      $(divElement).append("<img src='"+scissor.src+"' width='250' height='250'>")
    };
  };

  var getRandomPick = function(){
    var pcSign = $("#pc-sign");
    var randIndex;
    var i = 0;
    var changeImage = setInterval(function(){
        $("#pc-sign").empty();
        randIndex = Math.floor(Math.random()*choices.length);
        compPick = choices[randIndex];
        assignImage(compPick, pcSign);
        i++;
        if (i == 15) {
          clearInterval(changeImage);
          checkPickWinner();
          checkFinalWinner();
        };
    }, 50);
    changeImage();
  };

  var getScore = function(){
    $("#player-score").html("<b>"+playerScore+"</b>");
    $("#com-score").html("<b>"+comScore+"</b>");
  }

  var resetScore = function(){
    playerScore = 0;
    comScore = 0;
  };

  var checkPickWinner = function(){
    $(".result").empty();
    var playerWinText = "<h3><b>You win!!</b></h3>";
    var compWinText = "<h3><b>Computer win!!</b></h3>"
    if (playerPick == compPick) {
      $(".result").html("<h3><b>The result is a tie..</b></h3>");
    } else {
      switch(playerPick){
        case "rock":
        if (compPick == "scissor"){
          $(".result").html(playerWinText);
          playerScore++;
        } else {
          $(".result").html(compWinText);
          comScore++;
        };
        break;
        case "paper":
        if (compPick == "rock"){
          $(".result").html(playerWinText);
          playerScore++
        } else {
          $(".result").html(compWinText);
          comScore++
        };
        break;
        case "scissor":
        if (compPick == "paper"){
          $(".result").html(playerWinText);
          playerScore++
        } else {
          $(".result").html(compWinText);
          comScore++
        };
        break;
      };
    };
    getScore();
  };

  var checkFinalWinner = function(){
    if (playerScore == 5) {
      $(".rps-board").hide();
      $(".rps-board-result").append("<center class='resultGif'><img src='"+win.src+"' width='500' height='350'></center>");
      $(".result").html("<h3><b>Congratulations!! You win!!</b></h3>");
      $(".start-btn").show();
    };
    if (comScore == 5) {
      $(".rps-board").hide();
      $(".rps-board-result").append("<center class='resultGif'><img src='"+lose.src+"' width='500' height='350'></center>");
      $(".result").html("<h3><b>Awwwwww!! Computer win!!</b></h3>");
      $(".start-btn").show();
    };
  };

  var startGame = function(){
    playerName = prompt("Please Enter Player Name");
    if (playerName.length === 0){
      playerName = "Player";
    };
    $("#player").html(playerName);
    $(".resultGif").remove();
    $(".rps-board").show();
    $(".rps-board-result").show();
    $(".choice").attr('disabled', '');
    resetScore();
    getScore();
  };

  $(".choice").on("click", function(e){
    e.preventDefault();
    playerPick = $(this).data("pick");
    $("#chosen-sign").empty();
    var chosenSign = $("#chosen-sign");
    assignImage(playerPick, chosenSign);
    getRandomPick();
  });

  $(".start-btn").click(function(e){
    e.preventDefault();
    startGame();
    $(this).hide();
  })
});